<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--========== BOX ICONS ==========-->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="static/styles/css/styles.css">

  <title>Contact Us</title>
</head>
<body>
  <!-- Header -->
     <!--========== SCROLL TOP ==========-->
     <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a>

    <!--========== HEADER ==========-->
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a href="{{ url_for('home_page') }}" class="nav__logo"><h1>Sam's Kitchen</h1></a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="{{ url_for('home_page') }}" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="{{ url_for('about_page') }}" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="{{ url_for('menu_page') }}" class="nav__link">Menu</a></li>
                    <li class="nav__item"><a href="{{ url_for('order_page') }}" class="nav__link">Order</a></li>
                    <li class="nav__item"><a href="#contact" class="nav__link active-link">Contact Us</a></li>
                    {% if current_user.is_authenticated %}
                    <li class="nav__item"><a href="{{ url_for('logout') }}" class="nav__link" onclick="return confirmLogout()">Log Out</a></li>
                    <li class="nav__item"><a href="{{ url_for('cart_page') }}" class="cart__button" aria-label="cart button"><i class='bx bx-cart-alt'></i></a></li>
                    {% else %}
                    <li class="nav__item"><a href="{{ url_for('login_page') }}" class="nav__link">Log In/ Register</a></li>
                    <!--<li class="nav__item"><a href="{{ url_for('login_page') }}" class="nav__link">Register</a></li>-->
                    {% endif %}
                    <!-- <li class="nav__item"><a href="index.html#contact" class="nav__link">Contact us</a></li> -->
                    

                    <!--<li><i class='bx bx-moon change-theme' id="theme-button"></i></li>-->
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
        <!-- {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
        {% endwith %} -->
    </header>
    <!--========== HEADER ENDS ==========-->
  <!-- Contact Section -->
  <main class="contact__body">
    <div class="contact-container">
      <!-- Contact Info -->
      <div class="contact-info">
        <h2>Location</h2>
        <p>1111 Shirlington, Arlington, USA</p>
        <h2>Hours</h2>
        <p>Monday-Thursday: 12pm-10pm<br>Friday-Sunday: 11am-11pm</p>
        <h2>Contact</h2>
        <p>Email: kitchensams123@gmail.com<br>Phone: +1 123-456-7890</p>
      </div>

      <!-- Contact Form -->
      <div class="contact-form">
        <h2>Get in Touch</h2>
        <form id="contact-form" method="POST" action="{{ url_for('contact_page') }}">
          <div class="form-group">
            <label style="color: black; font-size: 15px;" for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your name" >
          </div>
          <div class="form-group">
            <label style="color: black; font-size: 15px;" for="number">Phone Number:</label>
            <input type="tel" id="number" name="number" placeholder="Enter your phone number" >
          </div>
          <div class="form-group">
            <label style="color: black; font-size: 15px;" for="email"><sup>*</sup>Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email"  >
          </div>
          <div class="form-group">
            <label style="color: black; font-size: 15px;" for="reason"><sup>*</sup>Reason:</label>
            <select id="reason" name="reason" required>
              <option value="query">Query</option>
              <option value="complain">Complain</option>
              <option value="career">Career</option>
              <option value="event">Event</option>
              <option value="order">Order</option>
            </select>
          </div>
          <div class="form-group">
            <label style="color: black; font-size: 15px;" for="message"><sup>*</sup>Message:</label>
            <textarea id="message" name="message" rows="4" placeholder="Type your message here" ></textarea>
          </div>
            <div style="color: black; font-size: 10px;"><sup >*</sup> is a required field</div>
            <br>
          <button type="submit" class="btn">Send Message</button>
        </form>
      </div>
    </div>
  </main>

 <!--========== FOOTER ==========-->
<footer class="footer section bd-container">
    <div class="footer__container bd-grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">Sam's Kitchen</a>
            <span class="footer__description">Restaurant</span>
            <div>
              <a href="#" class="footer__social" aria-label="facebook icon"><i class='bx bxl-facebook'></i></a>
              <a href="#" class="footer__social" aria-label="instagram icon"><i class='bx bxl-instagram'></i></a>
              <a href="#" class="footer__social" aria-label="twitter icon"><i class='bx bxl-twitter'></i></a>
          </div>
        </div>
    
        <div class="footer__content">
            <h3 class="footer__title">Information</h3>
            <ul>
                <li><a href="#" class="footer__link">Event</a></li>
                <li><a href="{{ url_for('contact_page') }}" class="footer__link">Contact us</a></li>
                <li><a href="#" class="footer__link">Privacy policy</a></li>
                <li><a href="#" class="footer__link">Terms of services</a></li>
            </ul>
        </div>
    
        <div class="footer__content">
            <h3 class="footer__title">Address</h3>
            <ul>
                <li>1111, Somewhere Rd</li>
                <li>United States, 23456</li>
                <li>999 - 888 - 777</li>
                <li>kitchensams123@gmail.com</li>
            </ul>
        </div>
    </div>
    
    <p class="footer__copy">&#169; 2024 Team Sams. All rights reserved</p>
    </footer>
    <!--========== FOOTER ENDS HERE ==========-->
    
    <!--========== SCROLL REVEAL ==========-->
    <script src="https://unpkg.com/scrollreveal"></script>
    
    <!--========== MAIN JS ==========-->
   <script src="{{ url_for('static',filename='styles/js/contact.js') }}"></script>
<script>
  function confirmLogout() {
    return confirm("Are you sure you want to log out?");
  }
</script>
    
    
    </body>
    </html>
