<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!--========== CSS ==========-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/styles.css') }}">

    <title>Menu</title>
</head>
<body>
<!-- {% for mesg in get_flashed_messages() %}
        <h1>{{ mesg }}</h1>
        {% endfor %} -->

<!--========== SCROLL TOP ==========-->
<a href="#" class="scrolltop" id="scroll-top">
    <i class='bx bx-chevron-up scrolltop__icon'></i>
</a>

<!--========== HEADER ==========-->
<header class="l-header" id="header">
    <nav class="nav bd-container">
        <a href="{{ url_for('home_page') }}" class="nav__logo"><h1>Sam's Kitchen</h1></a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="{{ url_for('home_page') }}" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="{{ url_for('about_page') }}" class="nav__link">About</a></li>
                <li class="nav__item"><a href="{{ url_for('menu_page') }}" class="nav__link active-link">Menu</a></li>
                <li class="nav__item"><a href="{{ url_for('order_page') }}" class="nav__link">Order</a></li>
                <li class="nav__item"><a href="{{ url_for('contact_page') }}" class="nav__link">Contact us</a></li>
                {% if current_user.is_authenticated %}
                    <li class="nav__item"><a href="{{ url_for('logout') }}" class="nav__link">Log Out</a></li>
                {% else %}
                    <li class="nav__item"><a href="{{ url_for('login_page') }}" class="nav__link">Log in</a></li>
                    <li class="nav__item"><a href="{{ url_for('login_page') }}" class="nav__link">Register</a></li>
                {% endif %}
                <!-- <li class="nav__item"><a href="index.html#contact" class="nav__link">Contact us</a></li> -->
                <li class="nav__item"><a href="{{ url_for('cart_page') }}" class="cart__button"><i
                        class='bx bx-cart-alt'></i></a></li>

                <!--<li><i class='bx bx-moon change-theme' id="theme-button"></i></li>-->
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
        {% endwith %} -->
</header>
<!--========== HEADER ENDS ==========-->
<!-- ========== MENU ==========-->
<section class="menu section bd-container" id="menu">
    <h2 class="section-title">Menu</h2>

    <!-- SEARCH BOX -->
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; margin-left: 100px; margin-right: 110px;">
        <!-- SEARCH FORM -->
        <form action="/search-menu" method="get" class="search-box">
            <div class="search-box">
                <button class="btn-search"><i class='bx bxs-search'></i></button>
                <input type="text" name="query" class="input-search" placeholder="Search..." value="{{ query or '' }}">
            </div>
        </form>


        <!-- FILTER BUTTON -->
        <button
                onclick="toggleFilter()"
                style="background-color: #f75050; color: white; padding: 0.5rem 1rem; border: none; cursor: pointer; font-size: 1rem; border-radius: 5px;">
            Filter
        </button>
    </div>

    <!-- FILTER OPTIONS (Initially Hidden) -->
    <div id="filter-options" style="display: none; position: relative; top: 60px; right: 10px;  padding: 1rem; margin-left: 100px;">
        <form action="/filter-menu" method="get">
            <div style="display: flex; flex-direction: column; gap: 1rem;">
                <!-- Filter by Category -->
                <label style="font-size: 1rem; cursor: pointer;">
                    <input type="radio" name="category" value="Appetizers">
{#                           {% if category|default('') == 'Appetizers' %}checked{% endif %}>#}
                    Appetizers
                </label>
                <label style="font-size: 1rem; cursor: pointer;">
                    <input type="radio" name="category" value="Biryani"
                           {% if category == 'Biryani' %}checked{% endif %}>
                    Biryani
                </label>
                <label style="font-size: 1rem; cursor: pointer;">
                    <input type="radio" name="category" value="Curry" {% if category == 'Curry' %}checked{% endif %}>
                    Curry
                </label>
                <label style="font-size: 1rem; cursor: pointer;">
                    <input type="radio" name="category" value="Breads" {% if category == 'Breads' %}checked{% endif %}>
                    Breads
                </label>
                <label style="font-size: 1rem; cursor: pointer;">
                    <input type="radio" name="category" value="Desserts"
                           {% if category == 'Desserts' %}checked{% endif %}>
                    Desserts
                </label>
                 <label style="font-size: 1rem; cursor: pointer;">
                    <input type="radio" name="category" value="Drinks"
                           {% if category == 'Drinks' %}checked{% endif %}>
                    Drinks
                </label>
                <label style="font-size: 1rem; cursor: pointer;">
                    <input type="radio" name="category" value="Veg" {% if category == 'Veg' %}checked{% endif %}>
                    Veg
                </label>
                <label style="font-size: 1rem; cursor: pointer;">
                    <input type="radio" name="category" value="Non-Veg"
                           {% if category == 'Non-Veg' %}checked{% endif %}>
                    Non-Veg
                </label>
                <label style="font-size: 1rem; cursor: pointer;">
                    <input type="radio" name="category" value="" {% if not category %}checked{% endif %}>
                    All Categories
                </label>
                <button type="submit"
                        style="background-color: #28a745; color: white; padding: 0.5rem 1rem; border: none; cursor: pointer; font-size: 1rem; border-radius: 5px; margin-top: 1rem;">
                    Apply Filter
                </button>
            </div>
        </form>
    </div>


    <!-- ========== ITEMS ==========-->
    {% set has_appetizers = items | selectattr('category', 'equalto', 'Appetizers') | list %}
    {% if has_appetizers %}
        <h3 style="padding-left: 44%; padding-right: 45%">Appetizers</h3>

        <div class="menu__container bd-grid">
            {% for item in has_appetizers %}
                {#            {% if item.category == 'Appetizers' %}#}
                <div class="menu__content">
                    <!-- <img src="static/styles/img/plate1.png" alt="" class="menu__img"> -->
                    <!-- <img src="static/styles/img/{{ item.source }}"  alt="" class="menu__img" /> -->
                  <div style="display: flex; align-items: center;">
                    {% if item.isVeg %}
                        <!-- Vegetarian Icon -->
                        <img style="width:20px; margin-right: 10px;" src="{{ url_for('static', filename='styles/img/veg.jpg') }}" alt="Veg"
                             class="menu__icon">
                        <span>Veg</span>
                    {% else %}
                        <!-- Non-Vegetarian Icon -->
                        <img style="width:20px; margin-right: 10px;" src="{{ url_for('static', filename='styles/img/non-veg.png') }}"
                             alt="Non-Veg" class="menu__icon">
                        <span>Non-Veg</span>
                    {% endif %}
                  </div>
                    <img src="{{ url_for('static', filename = 'styles/img/'+item.source) }}" alt="" class="menu__img">
                    <!-- <h3 class="menu__name">Barbecue salad</h3> -->
                    <h3 class="menu__name">{{ item.name }}</h3>
                    <br>
                    <!-- <span class="menu__detail">Delicious dish</span> -->

                    <span class="menu_detail"> {{ item.description }} </span>
                    <br>
                    <span class="menu__price">$ {{ item.price }}</span>
                    <!-- <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a> -->
                    <!-- <form method = 'POST'>
                        {{ add_form.hidden_tag() }}
                        <input id="selected_item" name="selected_item" type="hidden" value="{{ item.name }}">
                        {{ add_form.submit(class = 'button menu__button') }}
                    </form>-->

                </div>
                {#            {% endif %}#}
            {% endfor %}

        </div>
    {% endif %}

    {% set has_biryani = items | selectattr('category', 'equalto', 'Biryani') | list %}
    {% if has_biryani %}
        <h3 style="padding-left: 44%; padding-right: 45%; padding-top: 5%">Biryani</h3>

        <div class="menu__container bd-grid">
            {% for item in has_biryani %}
                {#            {% if item.category == 'Biryani' %}#}
                <div class="menu__content">
                    <!-- <img src="static/styles/img/plate1.png" alt="" class="menu__img"> -->
                    <!-- <img src="static/styles/img/{{ item.source }}"  alt="" class="menu__img" /> -->
                <div style="display: flex; align-items: center;">
                    {% if item.isVeg %}
                        <!-- Vegetarian Icon -->
                        <img style="width:20px; margin-right: 10px;" src="{{ url_for('static', filename='styles/img/veg.jpg') }}" alt="Veg"
                             class="menu__icon">
                        <span>Veg</span>
                    {% else %}
                        <!-- Non-Vegetarian Icon -->
                        <img style="width:20px; margin-right: 10px;" src="{{ url_for('static', filename='styles/img/non-veg.png') }}"
                             alt="Non-Veg" class="menu__icon">
                        <span>Non-Veg</span>
                    {% endif %}
                  </div>
                    <img src="{{ url_for('static', filename = 'styles/img/'+item.source) }}" alt="" class="menu__img">
                    <!-- <h3 class="menu__name">Barbecue salad</h3> -->
                    <h3 class="menu__name">{{ item.name }}</h3>
                    <br>
                    <!-- <span class="menu__detail">Delicious dish</span> -->
                    <span class="menu_detail"> {{ item.description }} </span>
                    <br>
                    <span class="menu__price">$ {{ item.price }}</span>
                    <!-- <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a> -->
                    <!-- <form method = 'POST'>
                        {{ add_form.hidden_tag() }}
                        <input id="selected_item" name="selected_item" type="hidden" value="{{ item.name }}">
                        {{ add_form.submit(class = 'button menu__button') }}
                    </form>-->

                </div>
                {#            {% endif %}#}
            {% endfor %}

        </div>
    {% endif %}

    {% set has_curry = items | selectattr('category', 'equalto', 'Curry') | list %}
    {% if has_curry %}
        <h3 style="padding-left: 44%; padding-right: 45%; padding-top: 5%">Curry</h3>
        <div class="menu__container bd-grid">
            {% for item in has_curry %}
                {#            {% if item.category == 'Curry' %}#}
                <div class="menu__content">
                    <!-- <img src="static/styles/img/plate1.png" alt="" class="menu__img"> -->
                    <!-- <img src="static/styles/img/{{ item.source }}"  alt="" class="menu__img" /> -->
                 <div style="display: flex; align-items: center;">
                    {% if item.isVeg %}
                        <!-- Vegetarian Icon -->
                        <img style="width:20px; margin-right: 10px;" src="{{ url_for('static', filename='styles/img/veg.jpg') }}" alt="Veg"
                             class="menu__icon">
                        <span>Veg</span>
                    {% else %}
                        <!-- Non-Vegetarian Icon -->
                        <img style="width:20px; margin-right: 10px;" src="{{ url_for('static', filename='styles/img/non-veg.png') }}"
                             alt="Non-Veg" class="menu__icon">
                        <span>Non-Veg</span>
                    {% endif %}
                  </div>
                    <img src="{{ url_for('static', filename = 'styles/img/'+item.source) }}" alt="" class="menu__img">
                    <!-- <h3 class="menu__name">Barbecue salad</h3> -->
                    <h3 class="menu__name">{{ item.name }}</h3>
                    <br>
                    <!-- <span class="menu__detail">Delicious dish</span> -->
                    <span class="menu_detail"> {{ item.description }} </span>
                    <br>
                    <span class="menu__price">$ {{ item.price }}</span>
                    <!-- <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a> -->
                    <!-- <form method = 'POST'>
                        {{ add_form.hidden_tag() }}
                        <input id="selected_item" name="selected_item" type="hidden" value="{{ item.name }}">
                        {{ add_form.submit(class = 'button menu__button') }}
                    </form>-->

                </div>
                {#            {% endif %}#}
            {% endfor %}

        </div>
    {% endif %}

    {% set has_breads = items | selectattr('category', 'equalto', 'Breads') | list %}
    {% if has_breads %}
        <h3 style="padding-left: 44%; padding-right: 45%; padding-top: 5%">Breads</h3>
        <div class="menu__container bd-grid">
            {% for item in has_breads %}
                {#            {% if item.category == 'Breads' %}#}
                <div class="menu__content">
                    <!-- <img src="static/styles/img/plate1.png" alt="" class="menu__img"> -->
                    <!-- <img src="static/styles/img/{{ item.source }}"  alt="" class="menu__img" /> -->
                 <div style="display: flex; align-items: center;">
                    {% if item.isVeg %}
                        <!-- Vegetarian Icon -->
                        <img style="width:20px; margin-right: 10px;" src="{{ url_for('static', filename='styles/img/veg.jpg') }}" alt="Veg"
                             class="menu__icon">
                        <span>Veg</span>
                    {% else %}
                        <!-- Non-Vegetarian Icon -->
                        <img style="width:20px; margin-right: 10px;" src="{{ url_for('static', filename='styles/img/non-veg.png') }}"
                             alt="Non-Veg" class="menu__icon">
                        <span>Non-Veg</span>
                    {% endif %}
                  </div>
                    <img src="{{ url_for('static', filename = 'styles/img/'+item.source) }}" alt="" class="menu__img">
                    <!-- <h3 class="menu__name">Barbecue salad</h3> -->
                    <h3 class="menu__name">{{ item.name }}</h3>
                    <br>
                    <!-- <span class="menu__detail">Delicious dish</span> -->
                    <span class="menu_detail"> {{ item.description }} </span>
                    <br>
                    <span class="menu__price">$ {{ item.price }}</span>
                    <!-- <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a> -->
                    <!-- <form method = 'POST'>
                        {{ add_form.hidden_tag() }}
                        <input id="selected_item" name="selected_item" type="hidden" value="{{ item.name }}">
                        {{ add_form.submit(class = 'button menu__button') }}
                    </form>-->

                </div>
                {#            {% endif %}#}
            {% endfor %}

        </div>
    {% endif %}

    {% set has_desserts = items | selectattr('category', 'equalto', 'Desserts') | list %}
    {% if has_desserts %}
        <h3 style="padding-left: 44%; padding-right: 45%; padding-top: 5%">Desserts</h3>
        <div class="menu__container bd-grid">
            {% for item in has_desserts %}
                {#            {% if item.category == 'Desserts' %}#}
                <div class="menu__content">
                    <!-- <img src="static/styles/img/plate1.png" alt="" class="menu__img"> -->
                    <!-- <img src="static/styles/img/{{ item.source }}"  alt="" class="menu__img" /> -->
                 <div style="display: flex; align-items: center;">
                    {% if item.isVeg %}
                        <!-- Vegetarian Icon -->
                        <img style="width:20px; margin-right: 10px;" src="{{ url_for('static', filename='styles/img/veg.jpg') }}" alt="Veg"
                             class="menu__icon">
                        <span>Veg</span>
                    {% else %}
                        <!-- Non-Vegetarian Icon -->
                        <img style="width:20px; margin-right: 10px;" src="{{ url_for('static', filename='styles/img/non-veg.png') }}"
                             alt="Non-Veg" class="menu__icon">
                        <span>Non-Veg</span>
                    {% endif %}
                  </div>
                    <img src="{{ url_for('static', filename = 'styles/img/'+item.source) }}" alt="" class="menu__img">
                    <!-- <h3 class="menu__name">Barbecue salad</h3> -->
                    <h3 class="menu__name">{{ item.name }}</h3>
                    <br>
                    <!-- <span class="menu__detail">Delicious dish</span> -->
                    <span class="menu_detail"> {{ item.description }} </span>
                    <br>
                    <span class="menu__price">$ {{ item.price }}</span>
                    <!-- <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a> -->
                    <!-- <form method = 'POST'>
                        {{ add_form.hidden_tag() }}
                        <input id="selected_item" name="selected_item" type="hidden" value="{{ item.name }}">
                        {{ add_form.submit(class = 'button menu__button') }}
                    </form>-->

                </div>
                {#            {% endif %}#}
            {% endfor %}

        </div>
    {% endif %}

    {% set has_drinks = items | selectattr('category', 'equalto', 'Drinks') | list %}
    {% if has_drinks %}
        <h3 style="padding-left: 44%; padding-right: 45%; padding-top: 5%">Drinks</h3>
        <div class="menu__container bd-grid">
            {% for item in has_drinks %}
                <div class="menu__content">
                    <!-- <img src="static/styles/img/plate1.png" alt="" class="menu__img"> -->
                    <!-- <img src="static/styles/img/{{ item.source }}"  alt="" class="menu__img" /> -->
                <div style="display: flex; align-items: center;">
                    {% if item.isVeg %}
                        <!-- Vegetarian Icon -->
                        <img style="width:20px; margin-right: 10px;" src="{{ url_for('static', filename='styles/img/veg.jpg') }}" alt="Veg"
                             class="menu__icon">
                        <span>Veg</span>
                    {% else %}
                        <!-- Non-Vegetarian Icon -->
                        <img style="width:20px; margin-right: 10px;" src="{{ url_for('static', filename='styles/img/non-veg.png') }}"
                             alt="Non-Veg" class="menu__icon">
                        <span>Non-Veg</span>
                    {% endif %}
                  </div>
                    <img src="{{ url_for('static', filename = 'styles/img/'+item.source) }}" alt="" class="menu__img">
                    <!-- <h3 class="menu__name">Barbecue salad</h3> -->
                    <h3 class="menu__name">{{ item.name }}</h3>
                    <br>
                    <!-- <span class="menu__detail">Delicious dish</span> -->
                    <span class="menu_detail"> {{ item.description }} </span>
                    <br>
                    <span class="menu__price">$ {{ item.price }}</span>
                    <!-- <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a> -->
                    <!-- <form method = 'POST'>
                        {{ add_form.hidden_tag() }}
                        <input id="selected_item" name="selected_item" type="hidden" value="{{ item.name }}">
                        {{ add_form.submit(class = 'button menu__button') }}
                    </form>-->

                </div>
            {% endfor %}

        </div>
    {% endif %}
</section>
<!-- ========== MENU ENDS ==========-->

<!--========== FOOTER ==========-->
<footer class="footer section bd-container">
    <div class="footer__container bd-grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">Sam's Kitchen</a>
            <span class="footer__description">Restaurant</span>
            <div>
                <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
            </div>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Information</h3>
            <ul>
                <li><a href="#" class="footer__link">Event</a></li>
                <li><a href="#" class="footer__link">Contact us</a></li>
                <li><a href="#" class="footer__link">Privacy policy</a></li>
                <li><a href="#" class="footer__link">Terms of services</a></li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Address</h3>
            <ul>
                <li>1111, Somewhere Rd</li>
                <li>United States, 23456</li>
                <li>999 - 888 - 777</li>
                <li>kitchensams123@gmail.com</li>
            </ul>
        </div>
    </div>

    <p class="footer__copy">&#169; 2024 Team Sams. All rights reserved</p>
</footer>
<!--========== FOOTER ENDS HERE ==========-->

<!--========== SCROLL REVEAL ==========-->
<script src="https://unpkg.com/scrollreveal"></script>

<!--========== MAIN JS ==========-->
<script src="static/styles/js/main.js"></script>

<script>
    function toggleFilter() {
        // Toggle the display style of the filter options
        const filterOptions = document.getElementById('filter-options');
        if (filterOptions.style.display === 'none') {
            filterOptions.style.display = 'block';
        } else {
            filterOptions.style.display = 'none';
        }
    }
</script>


</body>
</html>
