body {
    margin: 0;
    padding: 0;
    background: #161616;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.CartContainer {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    max-width: 1200px;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(22, 135, 217, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.Heading {
    font-size: 28px;
    font-weight: 700;
    color: #2F3841;
}

.back {
    text-decoration:underline;
    color: var(--first-color);
    font-weight: 600;
}

.back:hover {
    color: var(--first-color-alt);
}

.Cart-Items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    gap: 20px;
}

.image-box img {
    width: 130px;
    border-radius: 10px;
}

.about {
    flex-grow: 1;
}

.title {
    font-size: 20px;
    font-weight: 800;
    color: #202020;
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
}

.subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #666;
    margin-top: 5px;
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
}

.counter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.c-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
    border: none;
}

.c-btn:hover {
    background-color: #ccc;
}

.count {
    font-size: 20px;
    font-weight: 600;
    color: #202020;
}

.prices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.amount {
    font-size: 18px;
    font-weight: 700;
    color: #202020;
}

.remove {
    font-size: 16px;
    font-weight: 600;
    color: #707070;
    cursor: pointer;
    background-color: #d9d9d9;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 5px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.remove:hover {
    color: var(--first-color);;
}

hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ddd;
}

.checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.items,
.total-amount {
    font-size: 16px;
    color: #202020;
}

.Subtotal {
    font-size: 18px;
    font-weight: bold;
    color: #202020;
    margin-bottom: 5px;
}

.p-button {
    margin-top: 10px;
    width: 110%;
    height: 40px;
    border: none;
    background-color: var(--first-color-alt);;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color:var(--body-color);
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--first-color-alt);;
}

.error-message {
    margin-top: 10px;
    color: var(--first-color); /* Red color */
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 768px) {
    .Cart-Items {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .about {
        width: 100%;
    }

    .prices {
        align-items: flex-start;
        margin-top: 10px;
    }

    .remove {
        text-align: left;
    }
}
